name: Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Run Web App
    runs-on: ubuntu-latest
    steps:
      - name: Build Web App
        run: |
          echo "Build Web Apps"
          sleep 10s
      - uses: convictional/trigger-workflow-and-wait@v1.3.0
        with:
          owner: shiva265
          repo: demo-backend
          github_token: ${{ secrets.G_ACCESS_TOKEN }}
          workflow_file_name: main.yml
          ref: main
      - name: Deploy Web App
        run: |
          echo "Deploy Web App"
          sleep 10s
